

* {

margin: 0;
box-sizing: border-box;

}

body {

min-height: 100vh;
background: #17181f;
color: white;
font-family: Arial, Helvetica, sans-serif;
font-size: 1rem;

}

.conteudo-total {

margin: 0 auto;
width: 100%;
max-width: 450px;
margin-top: 50px;
margin-bottom: 50px;
background: #314d4a;
padding: 55px;
border-radius: 12px;

}

.conteudo-total h1 {
    
color: #ebe68d;
text-transform: uppercase;
font-size: 2.5rem;
text-align: center;
margin-bottom: 50px;
letter-spacing: 0,5px;

}

.topo {

display: flex;
justify-content: space-between;
margin-bottom: 35px;

}

.topo input {

width: 350px;
padding: 15px;
border-radius: 12px;
margin-right: 15px;
border: 1px solid #0b8770;
outline: none;
font-size: 1.2rem;
color: #ebe68d;
background: #0b8770;

}

.topo input::placeholder {
    
color: #ebe68d;

}

.topo button {

width: 45px;
border-radius: 12px;
border: 1px solid #0b8770;
background: #0b8770;
color: #ebe68d;
outline: none;

}

.topo button:hover {

background: #a6c288;
border: 1px solid #314d4a;
color: #314d4a;
cursor: pointer;

}

#listaTarefas {

list-style-type: none;
padding: 0;
margin: 0;


}

#listaTarefas li {

display: flex;
justify-content: space-between;
padding: 20px;
background: #0b8770;
border-radius: 12px;
align-items: center;
margin-top: 25px;

}

li span {

color: #ebe68d;

}

.btnAcao {

border-radius: 20px;
border: 1px solid #314d4a;
width: 38px;
height: 38px;
margin-right: 6px;
background: #314d4a;
color: #ebe68d;

}

.btnAcao:hover {

background: #a6c288;
border: 1px solid #a6c288;
color: #314d4a;
cursor: pointer;

}

.popup {

display: none; 
position: fixed;
z-index: 1;
left: 0;
top: 0;
width: 100%;
height: 100%;
background-color: rgba(0, 0, 0, 0.5); 

}
  
  
.popup-conteudo {

position: relative;
background-color: #a83838;
font-size: 1.3rem;
margin: 15% auto;
padding: 20px;
border-radius: 5px;
width: 80%;
max-width: 400px;
text-align: center;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

  
.fechar {

position: absolute;
top: 14px; 
right: 15px;
color: white;
float: right;
font-size: 28px;
font-weight: bold;
cursor: pointer;

}
  
.fechar:hover,
.fechar:focus {

color: #314d4a;

}

.popup-excont {

position: relative;
background-color: #a83838;
font-size: 1.3rem;
color: #ebe68d;
margin: 15% auto;
padding: 20px;
width: 80%;
max-width: 400px;
text-align: center;
border-radius: 5px;
box-shadow: 0 5px 15px rgba(0, 0, 0, 0.3);

}

.popup-excont button {

margin-top: 1rem;
width: 100px;
height: 40px;
border-radius: 12px;

}